@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);


.topWrap > .inWrap > input[type='text'],
.topWrap > .inWrap > input[type='number']{
    width: 100%;
}

ol > li > input[type='text'] {
    width: 25%;
}
.datePicker,
.btnPicker,
.autocomplete,
.checkMaker,
.fileUp,.headerMaker,.hiddenMaker,.numMaker,.paraMaker,.radioMaker,
.selectMaker,.textMaker,.areaMaker{
    background-color: #474b4f;
    color: #fff;
    padding: 10px;
    margin-bottom: 1px;
}
.hiddenMaker{
    opacity: 0.4;
}

.topWrap {
    display: flex;
    justify-content: space-between;
}
.inWrap{
    width: 450px;
    display: flex;
    flex-direction: column;
}

.editDiv {
   margin: -10px;
}
.editDiv > button {
    padding: 4px 8px;
    border-radius: 0;
    border: 1px solid gray;
    border-right: 0;
}
.editDiv > button:first-child {
    border-radius: 0 0 0 5px ;
}
.closeBtn::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f00d";
}
.editBtn::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f303";
}
.copyBtn::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f24d";
}
.topWrap > label{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editMenu{
    display: none;
    margin-top: 15px;
    background-color: rgb(242, 236, 236);
    color: #000;
   border: 1px solid #746666;
   border-radius: 20px;
   padding: 10px;
}


.editMenu > div  {
   margin-bottom: 10px;
   padding: 0 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
}
.optionCnt{
    display: flex;
    justify-content: end;
    gap: 5px;
}
.block{
    display: block;
}
