body {
  padding: 0;
  border: 0;
  margin: 0;
}
li {
  list-style: none;
}
.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 24px;
}
.main {
  flex-grow: 1;
  background-color: black;
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.75fr;
  gap: 1rem;
}
.left {
  background-color: rgba(250, 235, 215, 0.16);
}
.mid {
  background-color: rgb(52, 51, 51);
}
.right {
  background-color: rgba(250, 235, 215, 0.16);
}
.controls > li:first-child {
  border-radius: 5px 5px 0px 0px;
}
.controls > li:last-child {
  border-radius: 0 0 5px 5px;
}
li.draggable {
  padding: 10px;
  background-color: aliceblue;
  margin-bottom: 2px;
}
.footer {
  background-color: gray;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
}
